@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2e85b9;
  transition: 0.4s;
  font-weight: bolder;
}

@media (hover: hover) {
  a:hover {
    background-color: #a9defa;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Änderung hier */
    gap: 2rem; /* Füge einen Abstand zwischen den Spalten hinzu */
    padding: 0 2rem;
  }
}
